<!DOCTYPE html>
<html>
<head>
  <title>Spark</title>
  <%= stylesheet_link_tag    "page" %>
  <%= javascript_include_tag "page" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
